/*notes*/

/*to display edge to edge image*/
.jumbotron{
	background: url(#) no-repeat center center;

	/*same as the above*/
	background-image: url(#);
	background-repeat: no-repeat; /*repeat, repeat-x, repeat-y*/
	background-position: center center;

	background-size: cover;
	background-attachment: fixed; /*adds depths*/
}

/*for mini album pictures*/
div {
	display:flex;
	flex-wrap: wrap;
	justify-content: left;
}

	/*for talent profile picture*/
img {
	border-radius: 100%;
}

div {
	/*for hiding boxes animation*/
	display:none;
	visibility:hidden;

	/*to center text in a box*/
	text-align: center;

	/*to ensure width/height sizing is given for the borderbox and not contentbox*/
	box-sizing: border-box;

	/*for nav*/
	position: absolute;
	position: fixed;
	z-index: 1000;
}


img{ 
	display: block;
	/*to center images*/
	margin: 0px auto;
	/*to move to the left*/
	float: left;
}

div {
	/*to center boxes on a page*/
	margin: auto;
	/*to move to the left*/
	display: inline;
	float: left;
}


/*use display to toggle replacing view in a slider*/
.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

/*changes color when hover*/
.item:hover p.author, .item:hover a {
  color: #fff;
  text-decoration: none;
}
